@using THCard.Web.Controllers.Authentication.Models
@model THCard.Web.Controllers.LoginControl.Models.AuthenticatedLoginControlViewModel

@{
	Layout = "_LoginControlLayout.cshtml";
}

<a href="@Url.Action("Dashboard", "Authentication")" class="small black login"><span class="username">Welcome, <span>@Model.UserFullName</span></span></a>

<div class="divider"></div>

<form id="logoutForm" action="@Url.Action("Logout", "Authentication")" style="display: none;"></form>
         
<a href="javascript:void(this);" onclick="javascript:document.logoutForm.submit();" class="small black logout button"><span class="log-in">Logout</span></a>
