@model THCard.Web.Controllers.LoginControl.Models.AuthenticatedLoginControlViewModel

@{
	Layout = "_LoginControlLayout.cshtml";
}

<form id="logoutForm" name="logoutForm" action="@Url.Action("Logout", "Authentication")" method="POST"></form>

<a href="@Url.RouteUrl(Model.DashboardPage)" class="small black login"><span class="username">Welcome, <span>@Html.DisplayFor(m => m.UserFullName, "FullName")</span></span></a>

<div class="divider"></div>

<a href="javascript:void(this);" onclick=" javascript:document.logoutForm.submit(); " class="small black logout button"><span class="log-in">Logout</span></a>