@{
	Layout = "_LoginControlLayout.cshtml";
}

<a href="@Url.Action("Login", "Authentication")" class="small black login button"><span class="log-in">Log in</span></a>
<div class="divider"></div>
<a href="@Url.Action("SignUp", "Account")" class="small orange signup button"><span class="sign-up">Sign up</span></a>
