<!DOCTYPE html>
<!--[if lt IE 7 ]><html xmlns:fb="http://www.facebook.com/2008/fbml" class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html xmlns:fb="http://www.facebook.com/2008/fbml" class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html xmlns:fb="http://www.facebook.com/2008/fbml" class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns:fb="http://www.facebook.com/2008/fbml" lang="en"> <!--<![endif]-->

<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Joomla 2.5 template social, Joomla 2.5 template club, Joomla 2.5 template group, Joomla 2.5 band template, Joomla 2.5 template public" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="Joomla 2.5 template for social activities" />
	<meta name="generator" content="Joomla! - Open Source Content Management" />
	<title>@ViewBag.Title</title>
	<link href="/index.php?format=feed&amp;type=rss" rel="alternate" type="application/rss+xml" title="RSS 2.0" />
	<link href="/index.php?format=feed&amp;type=atom" rel="alternate" type="application/atom+xml" title="Atom 1.0" />
	<link href="/templates/totalhealthcardv1/images/apple-touch-icon.png" rel="apple-touch-icon" />
	<link href="/templates/totalhealthcardv1/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" />
	<link href="/templates/totalhealthcardv1/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114" />
	<link href="/templates/totalhealthcardv1/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
	<link rel="stylesheet" href="http://totalhealthcard.com//plugins/system/jatypo/jatypo/assets/style.css" type="text/css" />
	<link rel="stylesheet" href="http://totalhealthcard.com//plugins/system/jatypo/jatypo/typo/typo.css" type="text/css" />
	<link rel="stylesheet" href="~/Styles/jskeleton.css" type="text/css" />
	<link rel="stylesheet" href="~/Styles/template.css" type="text/css" />
	<script src="/media/system/js/mootools-core.js" type="text/javascript"> </script>
	<script src="/media/system/js/core.js" type="text/javascript"> </script>
	<script src="/media/system/js/mootools-more.js" type="text/javascript"> </script>
	<script src="http://totalhealthcard.com//plugins/system/jatypo/jatypo/assets/script.js" type="text/javascript"> </script>
	<script src="/media/system/js/caption.js" type="text/javascript"> </script>
	<script src="/media/system/js/validate.js" type="text/javascript"> </script>
	<script src="/templates/totalhealthcardv1/js/jquery-1.7.1.min.js" type="text/javascript"> </script>
	<script src="/templates/totalhealthcardv1/js/jskeleton.js" type="text/javascript"> </script>
	<script src="/templates/totalhealthcardv1/js/template.js" type="text/javascript"> </script>
	<script type="text/javascript">
		window.addEvent('load', function() {
			new JCaption('img.caption');
		});

		document.mobileMenuText = "TPL_SELECT_A_PAGE";
	</script>
	<script type='text/javascript'>
  	/*<![CDATA[*/
		var jax_live_site = 'http://totalhealthcard.com/index.php';
		var jax_site_type = '1.5';
		var jax_token_var = '0b75b1d49b3623f09cd4138e599145bd';
	/*]]>*/
</script><script type="text/javascript" src="http://totalhealthcard.com/plugins/system/azrul.system/pc_includes/ajax_1.5.pack.js"> </script>


	<script type="text/javascript" src="http://www.totalhealthcard.com/plugins/system/azrul.system/pc_includes/ajax_1.5.pack.js"> </script>
      
        
	<link rel="stylesheet" href="/templates/totalhealthcardv1/css/jskeleton.css" type="text/css" />
	<link rel="stylesheet" href="/templates/totalhealthcardv1/css/template.css" type="text/css" />
        

</head>

<body>

        
        
	<!-- The container is a centered 960px -->
	<div class="container">

		<!-- Start Header -->
		<div id="header" class="sixteen columns">
			@Html.Action("LoginControl", "LoginControl")

			<div class="custom"  >
				<div class="row" style="margin-bottom: 0;">
					<!-- Logo -->
					<div id="top-logo" class="six columns">
						<a href="http://www.totalhealthcard.com"><img src="templates/totalhealthcardv1/assets/backgrounds/header-logo-beta.png" /></a>
					</div><!-- END #top-logo -->
    
   
        
         
					<!-- Primary Navigation -->
					<div id="top-nav" class="ten columns">
						<a class="item" href="http://www.totalhealthcard.com/index.php?option=com_content&view=article&id=126&Itemid=1053" class="nav_what_is_thc item">WHAT IS TOTAL HEALTHCARD?</a>
						<a class="item" href="http://www.totalhealthcard.com/index.php?option=com_content&view=article&id=127&Itemid=1054" class="nav_how-it-works item">HOW IT WORKS</a>
						<a class="small item" href="http://www.totalhealthcard.com/index.php?option=com_content&view=article&id=134&Itemid=1053" class="nav_faqs small item">FAQs</a>
						<a class="last small item" href="http://www.totalhealthcard.com/index.php?option=com_content&view=article&id=132&Itemid=1053" class="nav_company small item">COMPANY</a>
					</div><!-- END #top-nav -->
				</div></div>

		</div><!-- END #header -->


		<!-- Start Main -->
		<div id="main">

		@RenderBody()   
  
		</div><!-- END #main -->

		<!-- Start Footer -->
		<div id="footer" class="sixteen columns">


			<div class="custom"  >
				<div class="row">
					<div id="mobile" class="six columns">
						<img src="templates/totalhealthcardv1/assets/backgrounds/footer-mobile.png" style="float: left; margin-left: 30px;" />
						<div class="footer-text">
							<h5>Track Your Health on the Go</h5>
							<p>Get the Total Healthcard App for:</p><br/>
							<p style="font-weight: normal;"><a href="#">iPhone</a> | <a href="#">Android</a></p>
						</div>
					</div><!-- END #mobile -->

    
					<div id="social" class="five columns">
						<a href="#" target="_blank" class="social-icon"><img style="margin: 0 5px;" src="templates/totalhealthcardv1/assets/backgrounds/social-fb.png" /></a>
						<a href="#" target="_blank" class="social-icon"><img style="margin: 0 5px;" src="templates/totalhealthcardv1/assets/backgrounds/social-tw.png" /></a>
						<a href="#" target="_blank" class="social-icon"><img style="margin: 0 5px;" src="templates/totalhealthcardv1/assets/backgrounds/social-in.png" /></a>
					</div><!-- END #social -->

    
					<div id="provider" class="six columns">
						<div style="float: left; height: 67px;">
							<img src="images/footer-provider.png" style="float: left; margin-left: 30px;" />
						</div>
						<div class="footer-text">
							<h5>Grow Your Health Business</h5>
							<p>Become a Total Healthcard Provider</p><br/>
							<p style="font-weight: normal;"><a href="http://www.totalhealthcard.com/index.php?option=com_provider&view=provider_request&Itemid=1056">Learn More</a></p>
						</div><!-- END #provider -->
					</div><!-- END .row -->

					<br class="clear" />

					<div id="footer-nav" class="sixteen columns">
						<a class="item" href="http://www.totalhealthcard.com/index.php?option=com_content&view=article&id=126&Itemid=1053" class="nav_what_is_thc item">WHAT IS TOTAL HEALTHCARD?</a>
						<a class="item" href="http://www.totalhealthcard.com/index.php?option=com_content&view=article&id=127&Itemid=1054" class="nav_how-it-works item">HOW IT WORKS</a>
						<a class="item" href="http://www.totalhealthcard.com/index.php?option=com_content&view=article&id=134&Itemid=1053" class="nav_faqs small item">FAQs</a>
						<a class="item" href="http://www.totalhealthcard.com/index.php?option=com_content&view=article&id=132&Itemid=1053" class="nav_company small item">COMPANY</a>

						<br/>
						<a href="http://www.totalhealthcard.com/"><img src="templates/totalhealthcardv1/assets/backgrounds/footer-logo.png" /></a>
						<br/>

						<a href="http://www.totalhealthcard.com/index.php?option=com_content&view=article&id=124&Itemid=1054" class="fine-print">Terms of Service</a> | <a href="http://www.totalhealthcard.com/index.php?option=com_content&view=article&id=124&Itemid=1054" class="fine-print">Privacy Policy</a>
						<br/>
						<p style="color: #666; float: none; font: 10px normal Helvetica, Arial, sans-serif; text-align: center;">Copyright 2013</p>



					</div><!-- END #footer-nav --></div>

			</div>
	
		</div><!-- END #footer -->


	</div><!-- END .container -->

        
        

</body>

</html>