@model string

@{
	Layout = "~/Views/Shared/_PublicLayout.cshtml";
	ViewBag.Title = "Welcome Total Health Card";
}

<div class="blog-featured">
	<div class="items-row cols-1 row-0">
		<div class="item column-1">

			<div class="row">

				<div id="home-main" class="sixteen columns">
					<div class="twelve columns offset-by-two">
						<h1>A healthy decision</h1>
						<h1>for you and your wallet.</h1>
						<p class="main-intro intro">Total Healthcard is a revolutionary marketing platform where everyday healthy activities are rewarded with lifestyle savings accessed through cutting-edge mobile payment software.</p>
						<br class="clear" />
						<a href="http://www.totalhealthcard.com/index.php?option=com_content&view=article&id=133&Itemid=1054" class="orange medium button"><span class="sign-up-now">Free! Sign up now</span></a>
						<br class="clear" />
						<img src="http://totalhealthcard.com/templates/totalhealthcardv1/assets/backgrounds/home-devices.png" class="home-intro" />
					</div><!-- END .twelve columns -->
				</div><!-- END #home-main -->
				<div class="two columns"></div>    
			</div><!-- END #main -->

			<div class="sixteen columns">
				<div class="row description">
					<div class="four columns offset-by-two"><img src="http://totalhealthcard.com/templates/totalhealthcardv1/assets/backgrounds/home-graphic-tracking.png" /></div>
					<div class="eight columns">
						<h2>Track your health to earn points</h2>
						<p class="intro">Members complete healthy activities to earn points and those points equal levels of savings when shopping within our provider network. Our mobile payment software allows for quick, easy, and discrete discounts. Total Healthcard is bringing health tracking and loyalty savings to the next level.</p>
						<a href="http://www.totalhealthcard.com/index.php?option=com_content&view=article&id=127&Itemid=1054" class="left" style="margin-top: 5px"><span class="more">Learn more about how it works</span></a>        
					</div>    
				</div><!-- END .row -->

				<div class="row description">
					<div class="eight columns offset-by-two">
						<h2>Fast and secure signup</h2>
						<p class="intro">It's simple, just sign up, attach your credit card (there will be no charge and your information is stored securely with authorize.net), locate a provider, use your Total Healthcard to pay at point of purchase, and SAVE 20%. Yep, it's that easy.</p>
						<a href="http://www.totalhealthcard.com/index.php?option=com_content&view=article&id=127&Itemid=1054" class="left" style="margin-top: 5px"><span class="more">Learn more about how it works</span></a>        
					</div>    
					<div class="four columns"><img src="http://totalhealthcard.com/templates/totalhealthcardv1/assets/backgrounds/home-graphic-security.png"/></div>
				</div><!-- END .row -->

				<div class="row description">
					<div class="four columns offset-by-two"><img src="http://totalhealthcard.com/templates/totalhealthcardv1/assets/backgrounds/home-graphic-wallet.png" /></div>
					<div class="eight columns">
						<h2>Save money while being healthy</h2>
						<p class="intro">Activities such as working out, eating healthy, and getting a massage are all tracked through our website or your mobile device. Your savings are accessed through our state of the art mobile payment application. Each purchase you make is discounted to the level you've earned just by being a healthy person!</p>
						<a href="http://www.totalhealthcard.com/index.php?option=com_content&view=article&id=127&Itemid=1054" class="left" style="margin-top: 5px"><span class="more">Learn more about how it works</span></a>
					</div>    
				</div><!-- END .row -->

				<div class="row description">
					<div class="eight columns offset-by-two">
						<h2>Multiple levels of savings</h2>
						<p class="intro">Work out to work up! We reward your healthy habits with points. The greater the points the greater your savings when shopping with Total Healthcard providers.</p>
						<a href="http://www.totalhealthcard.com/index.php?option=com_content&view=article&id=127&Itemid=1054" class="left" style="margin-top: 5px"><span class="more">Learn more about how it works</span></a>        
					</div>    
					<div class="four columns"><img src="http://totalhealthcard.com/images/home-graphic-levels.jpg"/></div>
				</div><!-- END .row -->


				<span class="limited-beta right"><img src="http://totalhealthcard.com/templates/totalhealthcardv1/assets/backgrounds/limited-beta-version.png" /></span>

				<div class="sixteen columns center">
					<a href="#" class="video-link"><img src="http://totalhealthcard.com/templates/totalhealthcardv1/assets/backgrounds/video.png" /> Take a 2 Minute Video Tour</a>
				</div>

				<div class="sixteen columns divider">
					<a href="http://www.totalhealthcard.com/index.php?option=com_content&view=article&id=133&Itemid=1054" class="medium orange button" style="margin: 10px 0;"><span class="sign-up-now">Free! Sign up now</span></a>
				</div><!-- /end divider -->


			</div><!-- /end .row -->


			<div class="item-separator"></div>
		</div>
		<span class="row-separator"></span>
	</div>

</div>